@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: #fff; */
}
ul li {
  list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
nav {
  background-color: #191942;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fixed-bar {
  background-color: #191942;
  position: fixed;
  border-bottom: 1px solid #fee60c;
}
.fixed-bar li img {
  width: 100%;
  height: 11vh;
}
nav li {
  height: 80px;
}
li a {
  padding: 15px 20px;
  border-radius: 5px;
}
nav a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
}
nav a:hover {
  color: #191942;
  background-color: #fee60c;
}
nav ul li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  /* margin-top: 10rem; */
  top: 0;
  right: 0;
  height: 80vh;
  width: 250px;
  border-radius: 9px;
  z-index: 999;
  background-color: #191950;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
svg {
  background: #fff;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
.close-button {
  color: #fff;
}
@media (max-width: 1200px) {
  .hidenMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  nav li {
    height: 100px;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  nav li {
    height: 110px;
  }
  .fixed-bar li img {
    width: 100%;
    height: 11vh;
  }
}

@media screen and (max-width: 600px) {
}
/* ================================single blogd============== */
#singleBlog {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px; */
  color: white;
  border-bottom: 1px solid #fee60c;
  background-color: #191942;
  padding-top: 8rem;
}
.left-single-container {
  width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
}
.blog-image img {
  width: 100%;
  height: 70vh;
}
.blog-description {
  font-size: 13px;
}
.blog-descriptions {
  font-size: 13px;
  width: 100%;
  /* padding: 20px; */
}
.title-desc {
  padding: 10px;
}

.blog-title h2 {
  color: #fee60c;
  font-size: 18px;
  padding-bottom: 20px;
}
.like-button {
  padding-top: 7px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.heart-icon {
  color: white;
  font-size: 30px;
  transition: color 0.3s ease;
}

.heart-icon.liked {
  color: red;
}
.comments-container {
  width: 100%;
}
@media screen and (max-width: 1260px) {
}
@media screen and (max-width: 990px) {
  .left-single-container {
    width: 100%;
    padding-right: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 600px) {
  #singleBlog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3px;
  }
  .blog-image img {
    width: 100%;
    height: 50vh;
  }
  .blog-title {
    font-size: 10px;
    width: 100%;
  }
  .blog-description {
    width: 100%;
  }
  .comments-container {
    width: 100%;
  }
  .fieldtocomment {
    width: 100%;
  }
}
@media screen and (max-width: 430px) {
}
/* ===============comments section ============================= */
.comment-form {
  max-width: 500px;
  /* margin: 0 auto; */
  /* padding: 10px; */
  background-color: #191942;

  border-radius: 5px;
}

label {
  display: none;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fee60c;
  background-color: #191942;
  border-radius: 3px;
  color: #ccc;
}
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #fee60c;
  background-color: #191942;
  border-radius: 3px;
  color: #ccc;
}

input[type="button"] {
  background-color: #fee60c;
  color: #191942;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.send-comment {
  width: 40%;
  padding: 10px 10px;
  border-radius: 7px;
  background-color: #fee60c;
  color: white;
}
#footer {
  padding-top: 1rem;
}
i {
  color: white;
}
.locations > div {
  color: #fee60c;
}
.comment-commentor {
  display: grid;
  gap: 5px;
  width: 100%;
  margin-bottom: 2rem;
  background-color: #191950;
  box-shadow: 0px 0px 2px #d4d4e6;
}
.comment {
  padding-left: 10px;
}
.commentor {
  padding-left: 10px;
  display: flex;
  gap: 10px;
  color: #fee60c;
}
.commentor i {
  color: #fee60c;
  font-size: 2s0px;
}
footer {
  background-color: #191942;
}
@media screen and (max-width: 990px) {
  footer {
    gap: 18px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3px;
    width: 100%;
    padding-top: 3rem;
  }

  .about-us {
    width: 100%;
    padding-right: 10px;
  }
}
@media screen and (max-width: 430px) {
  footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3px;
    width: 100%;
    /* margin-top: 10rem; */
    font-size: 12px;
  }
  .about-us {
    width: 100%;
    padding-right: 10px;
  }
}

.location-socilMedias {
  display: flex;
  /* margin-top: 10px; */
  gap: 10rem;
  padding-right: 10px;
  padding-left: 10px;
}
.locations {
  display: flex;
  gap: 10px;
}
.contact-social-media {
  /* margin-left: 10rem; */
  display: flex;
  gap: 50px;
}
.contact-social-media i {
  float: right;
  color: #fee60c;
  display: flex;
  font-size: 20px;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
}
.form-group label {
  display: none;
}
.subscribe-input {
  padding: 3px;
  border: 1px solid #fee60c;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #fff;
  width: 200px;
}

.subscribe-btn {
  background-color: #fee60c;
  color: #191942;
  padding: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.subscribe-btn:hover {
  background-color: #988c0e;
}
.footer {
  text-align: center;
  padding: 10px 0;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .location-socilMedias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-social-media {
    font-size: 25px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 980px) {
  .location-socilMedias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .contact-social-media {
    font-size: 19px;
    margin-left: 120px;
  }
  .contact-social-media i {
    margin-left: 10px;
  }
  .subscribe-form {
    margin-top: 20px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 600px) {
  .contact-social-media {
    margin-left: 10px;
    display: flex;
    gap: 20px;
  }
  .contact-paragraph {
    width: 100%;
  }
  .location-socilMedias {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .form-group label {
    display: none;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3px;
    width: 100%;
    padding-top: 20px;
    /* margin-top: -5rem; */
  }
}
.loader {
  width: 100%;
  height: 80vh;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  overflow: hidden;
  color: #fee60c;
  text-shadow: 0 0 0 #fee60c, 10ch 0 0 #fee60c;
  background: linear-gradient(#fee60c 0 0) bottom left/0% 3px no-repeat;
  animation: l14 1.5s infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l14 {
  80% {
    text-shadow: 0 0 0 #fee60c, 10ch 0 0 #fee60c;
    background-size: 100% 3px;
  }
  100% {
    text-shadow: -10ch 0 0 #fee60c, 0 0 0 #fee60c;
  }
}
