body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: black; */
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
.logo {
  color: #fee60c;
  font-size: 25px;
}

/* =================================================== */

nav a:hover {
  background-color: #fee60c;
  color: #191942;
  border-radius: 5px;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fixed-bar {
  background-color: #191942;
  position: fixed;
  border-bottom: 1px solid #fee60c;
}
nav li {
  height: 50px;
}
li a {
  padding: 15px 20px;
  border-radius: 5px;
}
nav a {
  height: 100%;
  /* padding: 0 30px; */
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 12px;
}
nav a:hover {
  color: #191942;
  background-color: #fee60c;
}
nav ul li:first-child {
  margin-right: auto;
  font-size: 30px;
  color: #fee60c;
  font-weight: bold;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 50vh;
  width: 250px;
  z-index: 999;
  background-color: #191950;
  /* box-shadow: -10px 0 10px rgba(0, 0, 0, 1); */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
svg {
  background-color: #fff;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 1200px) {
  .hidenMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
/* ============================================== */

/* ============================= */
section {
  background-color: #191942;
  height: 120vh;
}
#dashboard {
  padding-top: 6rem;
}
.header {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 20rem;
  width: 7%;
}

h1 {
  margin: 0;
  border-bottom: 5px solid #fee60c;
}

.user-table {
  width: 100%;
  /* padding-top: 7rem; */
  padding-left: 20px;
}

table {
  width: 98%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #fee60c;
  color: #191942;
}

.update-btn,
.delete-btn {
  background-color: #fee60c;
  color: #191942;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
span {
  color: #191942;
}
.update-btn:hover {
  background-color: green;
  color: white;
}
.delete-btn:hover {
  background-color: red;
  color: white;
}
i {
  color: #191942;
}
/* .left-container {
  position: fixed;
  z-index: 1;
} */
@media screen and (max-width: 1079px) {
  .delete-btn span {
    display: none;
    margin-bottom: 10px;
  }

  .update-btn span {
    display: none;
  }
}

@media screen and (max-width: 970px) {
}
@media screen and (max-width: 768px) {
  #dashboard {
    width: 100%;
  }

  nav {
    margin-left: 20rem;
    z-index: 1;
  }
  nav a {
    display: flex;
    font-size: 15px;
    color: #191942;
  }
}
@media screen and (max-width: 600px) {
  .header {
    margin-left: 20px;
  }
}
@media screen and (max-width: 435px) {
  .logo {
    color: #fee60c;
    padding-left: 40px;
    font-size: 18px;
  }
  ul li a {
    color: #fee60c;
    font-size: 16px;
  }
}
